:root {
    --white: #fffffe;
    --grey-10: #444444;
    --black: #1a1a1a;
    --grey-05: #999999;
    --orange: #f3be7b;
    --grey-20: #272822;
    --grey-01: #efefef;
    --orange-2: #ff6e6c;
    --purple: #1f1135;
    --grey: #e2daeb;
    --blue-dark: #161b22;
    --headline1: 700 3rem/3.375rem Inter;
    --headline2: 700 2.375rem/2.700000047683716rem Inter;
    --headline3: 700 2rem/2rem Inter;
    --headline4: 700 1.5rem/1.649999976158142rem Inter;
    --headline5: 700 1.25rem/1.649999976158142rem Inter;
    --body1-regular-default: 400 1.1875rem/1.7999999523162842rem Inter;
    --body1-regular-underline: 400 1.1875rem/1.7999999523162842rem Inter;
    --body1-bold-default: 700 1.1875rem/1.7999999523162842rem Inter;
    --body1-bold-underline: 700 1.1875rem/1.7999999523162842rem Inter;
    --body2-regular-default: 400 1rem/1.5rem Inter;
    --body2-regular-underline: 400 1rem/1.5rem Inter;
    --body2-bold-default: 700 0.875rem/1.5rem Inter;
    --body2-bold-underline: 700 0.875rem/1.5rem Inter;
    --button-regular: 400 1rem/1.5rem Inter;
    --button-bold: 700 1rem/1.5rem Inter;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: var(--headline1);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

.wrapper {
    max-inline-size: 370px;
    margin-inline: 20px;
}

.wrapperContent {
    display: none;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 40px;
}

.logo-icon {
    cursor: pointer;
}

.button-content {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.button {
    padding-block: 8px;
    padding-inline: 24px;
    box-sizing: border-box;
    cursor: pointer;
}

.button svg {
    margin-inline-start: 8px;
}

.button-edit {
    background-color: var(--black);
    color: var(--white);
    font: var(--button-bold);
    border-radius: 36px;
    border: none;
}

.button-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: var(--orange-2);
    color: var(--black);
    font: var(--button-bold);
    border-radius: 36px;
}

.btn-upload,
.btn-visibility {
    background-color: var(--black);
    color: var(--white);
    font: var(--button-regular);
    border-radius: 4px;
}

.btn-upload[type="file"] {
    display: none;
}

.btn-visibility {
    position: relative;
}

.btn-visibility-summary {
    height: 22px;
}

.btn-visibility-summary::marker {
    font-size: 0;
}

.btn-visibility-summary::-webkit-details-marker {
    display: none;
}

.btn-visibility[open] {
    visibility: 1;
}

.li-options {
    padding: 20px;
    list-style: none;
}

.li-options:hover {
    background-color: var(--grey-01);
}

.visibility-options {
    font: var(--button-regular);
    position: absolute;
    border-radius: 4px;
    visibility: 0;
    background-color: var(--white);
    color: var(--black);
    padding: 0;
    left: 0;
    /* width: 202px; */
    width: -webkit-fill-available;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-save,
.btn-cancel {
    background-color: var(--black);
    color: var(--white);
    font: var(--button-bold);
    border-radius: 4px;
}

.btn-delete {
    color: var(--grey-20);
    border: 1px solid var(--grey-20);
    font: var(--button-bold);
    border-radius: 4px;
}

.btn-delete-confirm {
    background-color: var(--orange-2);
    color: var(--black);
    font: var(--button-bold);
    border-radius: 4px;
}

div[aria-selected="true"] {
    display: block;
}

div[aria-disabled="true"] {
    display: none;
}

div[aria-open-modal="true"] {
    display: block;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

div[aria-disabled-modal="true"] {
    display: none;
}

.content {
    text-align: center;
    margin-inline: 20px;
}

.title-content {
    font: var(--headline2);
    margin-block-start: 56px;
    margin-block-end: 80px;
}

.headline-4 {
    font: var(--headline4);
}

.visibility-title {
    display: block;
    text-transform: uppercase;
    font: var(--body2-regular-default);
    font-weight: bold;
    text-align: right;
}

.content-none {
    margin-block-start: 16px;
    font: var(--body1-regular-default);
    color: var(--grey-10);
}

.markdownTextArea,
.resultToMarkdowntoHTML {
    margin-inline: 20px;
}

.markdownDisplay {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin-block: 56px;
}

.resultContent {
    overflow: auto;
    block-size: 741px;
    inline-size: -webkit-fill-available;
    box-sizing: border-box;
    font: var(--body1-regular-default);
    /* padding-block: 16px; */
    padding-inline: 12px;
}

.resultContent img {
    width: 100%;
}

pre {
    background-color: var(--blue-dark);
    color: var(--white);
    padding: 20px;
    overflow-x: auto;
}

.resultToMarkdowntoHTML .headline-2 {
    font: var(--headline2);
    color: var(--black);
}

.resultToMarkdowntoHTML .headline-5 {
    font: var(--headline5);
    color: var(--grey-10);
    margin-block-end: 32px;
}

.textArea {
    resize: none;
    border: none;
    block-size: 741px;
    inline-size: -webkit-fill-available;
    background-color: var(--grey);
    box-sizing: border-box;
    padding-block: 16px;
    padding-inline: 12px;
}

.textArea:focus {
    outline: none;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    font: var(--button-regular);
}

.option-plus {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.listPreviewContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.previewContent {
    margin-inline: 20px;
    text-align: left;
    margin-inline: 20px;
    max-inline-size: none;
    padding-block-end: 40px;
}

.contentPreview {
    box-sizing: border-box;
    border-radius: 4px;
    block-size: 207px;
    background-color: var(--grey);
    color: var(--grey-10);
    padding: 24px;
    text-align: left;
    cursor: pointer;
    font: var(--body1-bold-default);
}

.contentPreview:hover {
    background-color: var(--grey-10);
    color: var(--white);
}

.contentPreview-small {
    height: 159px;
    overflow: hidden;
}

.title-preview {
    font: var(--headline2);
    margin-block-start: 56px;
    margin-block-end: 32px;
}

.title-show {
    font: var(--headline5);
    margin-block-start: 56px;
    margin-block-end: 32px;
}

.title-show span {
    color: var(--grey-10);
    font: var(--body2-regular-default);
}

.showContent {
    text-align: left;
    margin-inline: 20px;
    max-inline-size: 540px;
    margin: auto;
}

.content-show {
    border: none;
    font: var(--body1-regular-default);
}

.content-show img {
    width: 100%;
}

.showContentDetails {
    margin-inline: 20px;
    box-sizing: border-box;
    margin-block-end: 20px;
}

.title-modal {
    font: var(--headline4);
}

.content-modal {
    font: var(--body1-regular-default)
}

.actions-button {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.modalContent {
    position: fixed;
    background: rgba(127, 127, 127, 0.65);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modalContent>div {
    min-width: 300px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

.open-modal {
    padding: 24px;
    border-radius: 16px;
}

@media screen and (min-width:450px) {
    .wrapper {
        max-inline-size: 1104px;
    }
    .modalContent>div {
        width: 540px;
    }
}

@media screen and (min-width:1020px) {
    .wrapper {
        margin-inline: auto;
    }
    .markdownDisplay {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
        margin-block-start: 56px;
    }
    .options,
    .option-plus,
    .actions {
        flex-direction: row;
    }
    .previewContent {
        margin: auto;
        max-inline-size: 540px;
    }
    .textArea,
    .resultContent {
        inline-size: 540px;
    }
    .showContentDetails {
        margin-inline: 0;
    }
    .markdownTextArea,
    .resultToMarkdowntoHTML {
        margin-inline: 0;
    }
}