:root {
    --white: #fffffe;
    --grey-10: #444444;
    --black: #1a1a1a;
    --grey-05: #999999;
    --orange: #f3be7b;
    --grey-20: #272822;
    --grey-01: #efefef;
    --orange-2: #ff6e6c;
    --purple: #1f1135;
    --grey: #e2daeb;
    --headline1: 700 3rem/3.375rem Inter;
    --headline2: 700 2.375rem/2.700000047683716rem Inter;
    --headline3: 700 2rem/2rem Inter;
    --headline4: 700 1.5rem/1.649999976158142rem Inter;
    --headline5: 700 1.25rem/1.649999976158142rem Inter;
    --body1-regular-default: 400 1.1875rem/1.7999999523162842rem Inter;
    --body1-regular-underline: 400 1.1875rem/1.7999999523162842rem Inter;
    --body1-bold-default: 700 1.1875rem/1.7999999523162842rem Inter;
    --body1-bold-underline: 700 1.1875rem/1.7999999523162842rem Inter;
    --body2-regular-default: 400 1rem/1.5rem Inter;
    --body2-regular-underline: 400 1rem/1.5rem Inter;
    --body2-bold-default: 700 0.875rem/1.5rem Inter;
    --body2-bold-underline: 700 0.875rem/1.5rem Inter;
    --button-regular: 400 1rem/1.5rem Inter;
    --button-bold: 700 1rem/1.5rem Inter;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: var(--headline1);
    /* color: var(--white); */
    background-color: var(--white);
}

.wrapper {
    max-inline-size: 370px;
    /* margin-block: 40px; */
    margin-inline: 20px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 40px;
}

.button {
    padding-block: 8px;
    padding-inline: 24px;
    box-sizing: border-box;
    cursor: pointer;
}

.button svg {
    margin-inline-start: 8px;
}

.button-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: var(--orange-2);
    color: var(--black);
    font: var(--button-bold);
    border-radius: 36px;
}

.btn-upload,
.btn-visibility {
    background-color: var(--black);
    color: var(--white);
    font: var(--button-regular);
    border-radius: 4px;
}

.btn-save {
    background-color: var(--black);
    color: var(--white);
    font: var(--button-bold);
    border-radius: 4px;
}

.btn-delete {
    color: var(--grey-20);
    border: 1px solid var(--grey-20);
    font: var(--button-bold);
    border-radius: 4px;
}

.content {
    text-align: center;
    margin-inline: 20px;
}

.title-content {
    font: var(--headline2);
    margin-block-start: 56px;
    margin-block-end: 80px;
}

.content-none {
    font: var(--body1-regular-default)
}

.grid-markdown {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* max-inline-size: 1104px; */
    justify-content: center;
    margin-block: 56px;
}

.markdown,
.result-markdown {
    display: block;
    margin: auto;
}

.result {
    /* border: 1px solid blue; */
    block-size: 741px;
    inline-size: 540px;
}

.result-markdown .headline-2 {
    font: var(--headline2);
    color: var(--black);
}

.result-markdown .headline-5 {
    font: var(--headline5);
    color: var(--grey-10);
    margin-block-end: 32px;
}

.textArea {
    resize: none;
    border: none;
    block-size: 741px;
    inline-size: 540px;
    background-color: var(--grey);
    box-sizing: border-box;
    padding-block: 16px;
    padding-inline: 12px;
}

.textArea:focus {
    outline: none;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    font: var(--button-regular);
}

.option-plus {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width:450px) {
    .wrapper {
        max-inline-size: 1104px;
    }
}

@media screen and (min-width:1020px) {
    .wrapper {
        margin-inline: auto;
    }
    .grid-markdown {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
        margin-block-start: 56px;
    }
    .markdown,
    .result-markdown {
        display: block;
        margin: 0;
    }
    .options,
    .option-plus,
    .actions {
        flex-direction: row;
    }
}